provisionDataStore:
  cassandra: false
  elasticsearch: false
  kafka: false

allInOne:
  enabled: true
#  image: jaegertracing/all-in-one
#  tag: 1.29.0
  ingress:
    enabled: false

collector:
  enabled: false
query:
  enabled: false
agent:
  enabled: false


